<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Erreur : {{ status_text }}</title>
		<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="{{ asset('build/js/occore_main.css') }}" type="text/css" />
	    <link rel="stylesheet" href="{{ asset('build/css/occore_error.css') }}" type="text/css" />
  </head>

	<body>

		<!-- Error Page -->
			<div class="error">
				<div class="container-floud">
					<div class="col-xs-12 ground-color text-center">
						<div class="container-error-404">
							<div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
							<div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
							<div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
							<div class="msg">OH!<span class="triangle"></span></div>
						</div>
						<h2 class="h1">Sorry! Page not found</h2>
					</div>
				</div>
			</div>
		<!-- Error Page -->

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/js/occore_main.js') }}"></script>
    <script src="{{ asset('build/js/occore_error.js') }}"></script>
	</body>
</html>
